<h1>FitPrint</h1>
<h2 class="mt-4">Dashboard</h2>
<p class="lead mb-3">Welcome <span class="name"><%= user.name %></span></p>
<a href="/users/logout" class="btn btn-secondary">Log Out</a>
<br>


<form class="goals">
  <span class="d-inline-block mt-5 mb-3">Current Weight</span>
  <input type="text" class="currentWeight"><br>
  <span>Goal Weight </span>
  <input type="text" class="goalWeight ml-4">
  <button type="submit" class="submit btn btn-primary d-block mt-4">Submit</button>
</form>


  <p class="mt-5"> Current Weight: <%= user.currentWeight %> lbs </p>
  <p> Goal Weight: <%= user.goalWeight %> lbs </p>
  <p> Daily Calorie Goal: <%= user.calorieGoal %> kcals </p>
  <p> Daily Protein Goal: <%= user.proteinGoal %> g </p>
  <p> Daily Carb Goal: <%= user.carbGoal %> g </p>
  <p> Daily Fat Goal: <%= user.fatGoal %> g </p>


<h2>Meals</h2>



<% for(let i = 0; i < user.meals.length ; i++) { %>
  <span> Food: <%= user.meals[i].foodName %> |</span>
  <span> Calories: <%= user.meals[i].calories %> |</span>
  <span> Protein: <%= user.meals[i].protein %> |</span>
  <span> Carbs: <%= user.meals[i].carbs%> |</span>
  <span> Fats: <%= user.meals[i].fats%> </span>
  <br>
<% } %>

<form class="meals">

  <h3>New Meal</h3>
  <input type="text" class="d-inline-block mb-3 foodName" placeholder="food name">
  <input type="text" class="calories ml-4" placeholder="calories">
  <input type="text" class="protein ml-4" placeholder="protein">
  <input type="text" class="carbs ml-4" placeholder="carbs">
  <input type="text" class="fats ml-4" placeholder="fats">
  <button type="submit" class="meal btn btn-primary d-block mt-4">Submit</button>

</form>





<a href="/users/logout"><button type="button" class="delete btn btn-primary d-block mt-4">Delete Profile</button></a>


<script type="text/javascript">
const submit = document.querySelector('.submit');
const del = document.querySelector('.delete');
const name = document.querySelector('.name').innerHTML;
const meal = document.querySelector('.meal')

submit.addEventListener('click', () => {
  const currentWeight = document.querySelector('.currentWeight').value;
  const goalWeight = document.querySelector('.goalWeight').value;
  let calorieGoal = (currentWeight * 14) - ((currentWeight * 14) * .2)
  let proteinGoal = currentWeight
  let fatGoal = (calorieGoal * .25) / 9
  let carbGoal = (calorieGoal - ((proteinGoal * 4) + (fatGoal * 9))) / 4

  fetch('goals', {
    method: 'put',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      'currentWeight': parseInt(currentWeight),
      'goalWeight': parseInt(goalWeight),
      'calorieGoal': parseInt(calorieGoal),
      'proteinGoal': parseInt(proteinGoal),
      'carbGoal': parseInt(carbGoal),
      'fatGoal': parseInt(fatGoal),
    })
  })
  .then(res => {
    if (res.ok) return res.json()
  }).
  then(data => {
    console.log(data)
  })
})

meal.addEventListener('click', () => {
  const foodName = document.querySelector('.foodName').value;
  const calories = document.querySelector('.calories').value;
  const protein = document.querySelector('.protein').value;
  const carbs = document.querySelector('.carbs').value;
  const fats = document.querySelector('.fats').value;

  fetch('mealsRoute', {
    method: 'put',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      'foodName': foodName,
      'calories': parseInt(calories),
      'protein': parseInt(protein),
      'carbs': parseInt(carbs),
      'fats': parseInt(fats)
    })
  })
  .then(res => {
    if (res.ok) return res.json()
  }).
  then(data => {
    console.log(data)
  })
})




del.addEventListener('click', () => {
  console.log(name);
  fetch('delete', {
    method: 'delete',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      'user': name
    })
  })
  .then(res => {
    if (res.ok) return res.json()
  }).
  then(data => {
    console.log(data)
  })
})

</script>
