<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FitPrint</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  </head>

<body>


<h1>FitPrint</h1>
<h2 class="mt-4">Dashboard</h2>
<p class="lead mb-3">Welcome <span class="name"><%= user.name %></span></p>
<a href="/users/logout" class="btn btn-secondary">Log Out</a>
<br>


<form class="goals">
  <span class="d-inline-block mt-5 mb-3">Current Weight</span>
  <input type="text" class="currentWeight"><br>
  <span>Goal Weight </span>
  <input type="text" class="goalWeight ml-4">
  <button type="submit" class="submit btn btn-primary d-block mt-4">Submit</button>
</form>

<%
 let caloriesLeft = user.calorieGoal
%>

  <p class="mt-5"> Current Weight: <%= user.currentWeight %> lbs </p>
  <p> Goal Weight: <%= user.goalWeight %> lbs </p>
  <p> Daily Calorie Goal: <%= user.calorieGoal %> kcals </p>
  <p> Daily Protein Goal: <%= user.proteinGoal %> g </p>
  <p> Daily Carb Goal: <%= user.carbGoal %> g </p>
  <p> Daily Fat Goal: <%= user.fatGoal %> g </p>


<h2>Meals</h2>



<%# arrows go here %>
<a href="/dashboard?date=<%= yesterdaysDate%>">back</a>
<a href="/dashboard?date=<%= tomorrowsDate%>">forward</a>
<br>
<%
const dates = []
for(let i = 0; i < user.meals.length ; i++) {
const formattedDate = formatDate(user.meals[i].date)
  if (!dates.find(d => d === formattedDate)){
    dates.push(formattedDate)
  }
}
console.log(dates)
%>


<span>Total Calories: <%=sumTotalCalories%> | Total Protein: <%=sumTotalProtein%> g | Total Carbs: <%=sumTotalCarbs%> g | Total Fats: <%=sumTotalFats%> g</span>
<br>
  <ul>
<% for(let i = 0; i < meals.length ; i++) { %>

  <li>
    <p> Date: <span><%= formatDate(meals[i].date) %></span>|</p>
    <p> Food: <span><%= meals[i].foodName %></span>|</p>
    <p> Calories: <span><%= meals[i].calories %></span>|</p>
    <p> Protein: <span><%= meals[i].protein %></span>|</p>
    <p> Carbs: <span><%= meals[i].carbs%></span>|</p>
    <p> Fats: <span><%= meals[i].fats%></span> </p>
    <p><i class="fas fa-times" aria-hidden="true"></i></p>
  </li>

  <br>

<% } %>
</ul>
<form action="/createMeal" class="meals" method="POST">

  <h3>New Meal</h3>
  <input type="hidden" class="date" name="date" value="<%= dateToShow%>">
  <input type="text" class="d-inline-block mb-3 foodName" placeholder="food name" name="foodName">
  <input type="text" class="calories ml-4" placeholder="calories" name="calories">
  <input type="text" class="protein ml-4" placeholder="protein" name="protein">
  <input type="text" class="carbs ml-4" placeholder="carbs" name="carbs">
  <input type="text" class="fats ml-4" placeholder="fats" name="fats">
  <button class="meal btn btn-primary d-block mt-4">Submit</button>

</form>

<section>
  <h3>Suggestions</h3>
  <p>How about: <span class="suggestions"> </span></p>
  <button type="button" class="suggestion" name="button">Suggest a Meal</button>
</section>





<a href="/users/logout"><button type="button" class="delete btn btn-primary d-block mt-4">Delete Profile</button></a>

</body>
</html>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript">
  const caloriesLeft = <%= caloriesLeft %>
</script>
