<h1>FitPrint</h1>
<h2 class="mt-4">Dashboard</h2>
<p class="lead mb-3">Welcome <span class="name"><%= user.name %></span></p>
<a href="/users/logout" class="btn btn-secondary">Log Out</a>
<br>


<form class="goals">
  <span class="d-inline-block mt-5 mb-3">Current Weight</span>
  <input type="text" class="currentWeight"><br>
  <span>Goal Weight </span>
  <input type="text" class="goalWeight ml-4">
  <button type="submit" class="submit btn btn-primary d-block mt-4">Submit</button>
</form>

<%
 let caloriesLeft = user.calorieGoal
%>

  <p class="mt-5"> Current Weight: <%= user.currentWeight %> lbs </p>
  <p> Goal Weight: <%= user.goalWeight %> lbs </p>
  <p> Daily Calorie Goal: <%= user.calorieGoal %> kcals </p>
  <p> Daily Protein Goal: <%= user.proteinGoal %> g </p>
  <p> Daily Carb Goal: <%= user.carbGoal %> g </p>
  <p> Daily Fat Goal: <%= user.fatGoal %> g </p>


<h2>Meals</h2>



<%# arrows go here %>
<a href="/dashboard?date=<%= yesterdaysDate%>">back</a>
<a href="/dashboard?date=<%= tomorrowsDate%>">forward</a>
<br>
<%
const dates = []
for(let i = 0; i < user.meals.length ; i++) {
const formattedDate = formatDate(user.meals[i].date)
  if (!dates.find(d => d === formattedDate)){
    dates.push(formattedDate)
  }
}
console.log(dates)
%>




<span>Total Calories: <%=sumTotalCalories%> | Total Protein: <%=sumTotalProtein%> g | Total Carbs: <%=sumTotalCarbs%> g | Total Fats: <%=sumTotalFats%> g</span>
<br>

<% for(let i = 0; i < todaysMeals.length ; i++) { %>
  <span> Date: <%= formatDate(todaysMeals[i].date) %> |</span>
  <span> Food: <%= todaysMeals[i].foodName %> |</span>
  <span> Calories: <%= todaysMeals[i].calories %> |</span>
  <span> Protein: <%= todaysMeals[i].protein %> |</span>
  <span> Carbs: <%= todaysMeals[i].carbs%> |</span>
  <span> Fats: <%= todaysMeals[i].fats%> </span>
  <br>
<%
  caloriesLeft = caloriesLeft - todaysMeals[i].calories
%>
<% } %>

<form class="meals">

  <h3>New Meal</h3>
  <input type="hidden" class="date" name="" value="<%= dateToShow%>">
  <input type="text" class="d-inline-block mb-3 foodName" placeholder="food name">
  <input type="text" class="calories ml-4" placeholder="calories">
  <input type="text" class="protein ml-4" placeholder="protein">
  <input type="text" class="carbs ml-4" placeholder="carbs">
  <input type="text" class="fats ml-4" placeholder="fats">
  <button class="meal btn btn-primary d-block mt-4">Submit</button>

</form>

<section>
  <h3>Suggestions</h3>
  <p>How about: <span class="suggestions"> </span></p>
  <button type="button" class="suggestion" name="button">Suggest a Meal</button>
</section>





<a href="/users/logout"><button type="button" class="delete btn btn-primary d-block mt-4">Delete Profile</button></a>


<script type="text/javascript" src="main.js"></script>
<script type="text/javascript">
  const caloriesLeft = <%= caloriesLeft %>
</script>
