<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="GYm,fitness,business,company,agency,multipurpose,modern,bootstrap4">

  <meta name="author" content="Themefisher.com">

  <title>FitPrint</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icofont Css -->
  <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
  <!-- Themify Css -->
  <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
  <!-- animate.css -->
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="main.css">

</head>
<body>

<!-- Header Start -->


<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
	<div class="container-fluid">
	  <a class="navbar-brand" href="/dashboard">
	  		<h2 class="text-white text-capitalize"></i>Fit<span class="text-color">Print</span></h2>
	  </a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid" aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
		<span class="ti-view-list"></span>
	  </button>

	  <div class="collapse text-center navbar-collapse" id="navbarsid">
		<ul class="navbar-nav mx-auto">
		  <li class="nav-item active nav-item-dash">
			<a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
		  </li>
		   <li class="nav-item nav-contact"><a class="nav-link" href="https://www.anthonybetances.com/" target="_blank">Contact</a></li>
       <a href="/users/logout" class="btn btn-main btn-logout">Log Out</a>
		</ul>
	  </div>
	</div>
</nav>


<!-- Header Close -->

<div class="main-wrapper ">
<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="/dashboard" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">FitPrint</a></li>
            <li class="list-inline-item"><span class="text-white">|</span></li>
            <li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">Dashboard</a></li>
          </ul>
           <h1 class="text-lg text-white mt-2">Welcome, <span class="name"><%= user.name %></span>.</h1>
      </div>
    </div>
  </div>
</section>




<!-- <section id="topBar" class="topBar">
  <p class="lead mb-3">Welcome, <span class="name"><%= user.name %>!</span></p>
</section>
<br> -->


<%
 let caloriesLeft = parseFloat(user.calorieGoal) - parseFloat(sumTotalCalories)
%>

<!-- Current & Goals output start -->


<section class="goalsSection">
  <div class="col-lg-3">
    <div class= "course-widget border py-4 px-2 mt-lg-0">

            <h3 class="text-center mb-3">Let's Check In</h3>
      <form class="goals">
        <span class="d-inline-block mt-5 mb-3">Current Weight</span>
        <input type="text" class="currentWeight">lbs<br>
        <span>Goal Weight </span>
        <input type="text" class="goalWeight ml-4"> lbs
        <button id="button"type="submit" class="submit btn btn-main d-block mt-4">Submit</button>
      </form>

      <h3 class="text-center mb-3">Daily Targets</h3>
      <ul class="list-group  list-group-flush">

        <li class="list-group-item d-flex justify-content-between align-items-center text-black">
          Current Weight<span class="text-black-50"><%= user.currentWeight %> lbs</span>
        </li>
         <li class="list-group-item d-flex justify-content-between align-items-center text-black">
          Goal Weight<span class="text-black-50"><%= user.goalWeight %> lbs</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center text-black">
          Daily Calorie Goal<span class="text-black-50"><%= user.calorieGoal %> kcals</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center text-black">
          Daily Protein Goal<span class="text-black-50"><%= user.proteinGoal %> g</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center text-black">
          Daily Carb Goal<span class="text-black-50"><%= user.carbGoal %> g </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center text-black">
          Daily Fat Goal<span class="text-black-50"><%= user.fatGoal %> g</span>
        </li>
      </ul>
    </div>
  </div>

</section>

<!-- Current & Goals output ends -->

<section class="mealPlan">
<h2>Meals</h2> <br>
<!-- Access past meals below -->
<a href="/dashboard?date=<%= yesterdaysDate%>"><i class="fas fa-angle-double-left"></i></a>
<span class="text-lg text-color"><%=dateToShow%></span>
<a href="/dashboard?date=<%= tomorrowsDate%>"><i class="fas fa-angle-double-right"></i></a>

<!-- Access future meals above -->

<br>
<%
const dates = []
for(let i = 0; i < user.meals.length ; i++) {
const formattedDate = formatDate(user.meals[i].date)
  if (!dates.find(d => d === formattedDate)){
    dates.push(formattedDate)
  }
}
%>

<!-- Daily totals below -->


<ul class="list-group list-group-horizontal-sm mt-5 mb-4">
  <li class="list-group-item "><span class="text-lg text-color"><%=sumTotalCalories%></span> Total Calories</li>
  <li class="list-group-item "><span id="caloriesLeft" class="text-lg text-color"><%=caloriesLeft%></span> Calories Left</li>
  <li class="list-group-item"><span class="text-lg text-color"><%=sumTotalProtein%> g</span> Total Protein</li>
  <li class="list-group-item"><span class="text-lg text-color"><%=sumTotalCarbs%> g</span> Total Carbs</li>
  <li class="list-group-item"><span class="text-lg text-color"><%=sumTotalFats%> g</span> Total Fats</li>
</ul>



<!-- <span class="list-group-item d-flex justify-content-between align-items-center text-black">
  Total Calories: <%=sumTotalCalories%> | Total Protein: <%=sumTotalProtein%> g | Total Carbs: <%=sumTotalCarbs%> g | Total Fats: <%=sumTotalFats%> g</span> -->
<!-- Daily totals above -->
<br>
  <ul class="list-group  list-group-flush">
    <!-- Below loop iterates through user's meals for that day -->
<% for(let i = 0; i < meals.length ; i++) { %>
        <!-- Conditional inside loop.. if dateToShow exists (which it does) and is equal to the meal's formatted date, then... -->
<% if (dateToShow && (dateToShow === formatDate(meals[i].date)) ) { %>
  <li class="list-group-item d-flex justify-content-between align-items-center text-black">
    <p> Date: <span><%= formatDate(meals[i].date) %></span></p>
    <p> Food: <span><%= meals[i].foodName %></span></p>
    <p> Calories: <span><%= meals[i].calories %></span> kcals</p>
    <p> Protein: <span><%= meals[i].protein %></span> g</p>
    <p> Carbs: <span><%= meals[i].carbs%></span> g</p>
    <p> Fats: <span><%= meals[i].fats%></span> g</p>
    <p><i class="fas fa-times" aria-hidden="true"></i><input type="hidden" value="<%=meals[i]._id%>"></p>
  </li>

  <br>
<% } %>
<% } %>
</ul>


<!-- Post form for new meals -->
<form action="/createMeal" class="meals" method="POST">

  <h3>New Meal</h3>
  <input type="hidden" class="date" name="date" value="<%= dateToShow%>">
  <input type="text" class="d-inline-block mb-3 foodName" placeholder="food name" name="foodName">
  <input type="text" class="calories ml-1" placeholder="calories" name="calories">
  <input type="text" class="protein ml-1" placeholder="protein" name="protein">
  <input type="text" class="carbs ml-1" placeholder="carbs" name="carbs">
  <input type="text" class="fats ml-1" placeholder="fats" name="fats">
  <button id="button"type="submit" class="meal btn btn-main d-block mt-4">Submit</button>

</form>

</section>
<!-- Recipe recommendations append below -->
<section class="suggest">
  <h3>Smart Suggestions</h3>
  <p><span class="suggestions"></span></p>
  <img src="" class="suggestionsImg">
  <ul class="ingredients"> </ul>
  <ol class="instructions"> </ol>
  <button id="button"type="button" class="suggestion meal btn btn-main d-block mt-4" name="button">Suggest a Meal</button>
</section>



<a href="/users/logout"><button id="button "type="button" class="delete d-block mt-4 btn btn-main">Delete Profile</button></a>











    </div>

    <!--
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>


    <!-- <script src="js/script.js"></script> -->

    <script type="text/javascript" src="main.js"></script>
<script type="text/javascript">
</script>


  </body>
  </html>
